{
	"presets": [
		["@babel/preset-react", { "runtime": "automatic" }],
		"@babel/preset-typescript",
		"@babel/preset-env"
	],
	"plugins": [
		[
			"wildcard",
			{
				"useCamelCase": true
			}
		],
		"@babel/transform-runtime"
	]
}
